{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toma de Ramos</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylesheet.css' %}">
    <script src="{% static 'js/index.js' %}"></script>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <!-- As a heading -->
    <nav class="nav text-light bg-dark justify-content-center">
        <li class="nav-item">
            <span class="navbar mb-1 mt-1 h1">Toma de Ramos</span>
          </li>
    </nav>

    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-6 search-container">
                <form class="form-inline">
                    <div class="input-group input-group-lg">
                        <input id="searchInput" class="form-control border-2 border-secondary rounded-pill" type="text" placeholder="Buscar Ramo" aria-label="Buscar">
                    </div>
                </form>
                <div class="search-results">
                    <ul id="resultsList">
                        <!-- Aquí se agregarán los elementos de la lista -->
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <div class="input-group input-group-lg">
                    <select id="miSelect" class="form-select form-control w-25 border-2 border-secondary rounded-pill" aria-label="Default select example">
                        <option selected value="TITULO">Titulo</option>
                        <option value="NRC">NRC</option>
                        <option value="PROFESOR">Profesor</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-12 col-md-9 table-responsive">
                <table class="table table-bordered">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col" colspan="2"></th>
                        <th scope="col">Lunes</th>
                        <th scope="col">Martes</th>
                        <th scope="col">Miercoles</th>
                        <th scope="col">Jueves</th>
                        <th scope="col">Viernes</th>
                        <th scope="col">Sabado</th>
                        <th scope="col">Domingo</th>
                      </tr>
                    </thead>
                    <tbody id="horario">
                      
                    </tbody>
                </table>
            </div>
            <div class="col-12 col-md-3">
                <div class="card mb-2">
                    <div class="card-body justify-content-center">
                        <h4>Creditos: <span id="CreditValue">0<span></h4>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-10 col-md-10">
                                Ramos
                            </div>
                            <div id="clean-all"class="col-2 col-md-2">

                            </div>
                        </div>
                    </div>
                    <div class="card-body" style="max-height: 411px; overflow-y: auto; height:450px">
                        <div id="ListaRamos" class="list-group" >
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    
</body>
</html>