{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toma de Ramos</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylesheet.css' %}">
    <script src="{% static 'js/html2canvas.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <!-- Header -->
    <nav class="nav text-light bg-dark justify-content-center">
        <li class="nav-item">
            <span class="navbar mb-1 mt-1 h1">Toma de Ramos</span>
        </li>
    </nav>
    
    <!-- notification -->
    <div id="notification" class="notification">
        <p>¡Existe Tope de horario!</p>
    </div>

    <!-- searchbar -->
    <div class="container mt-4">
        <div class="row justify-content-center">

            <!-- searchbar -->
            <div class="col-lg-6 search-container">
                <form class="form-inline">
                    <div class="input-group input-group-lg">
                        <input id="searchInput" class="form-control border-2 border-secondary rounded-pill" type="text" placeholder="Buscar Ramo" aria-label="Buscar">
                    </div>
                </form>
                <div class="search-results">
                    <ul id="resultsList">
                        <!-- Aquí se agregarán los elementos de la lista -->
                    </ul>
                </div>
            </div>

            <!-- Select type -->
            <div class="col-lg-2">
                <div class="input-group input-group-lg">
                    <select id="miSelect" class="form-select form-control w-25 border-2 border-secondary rounded-pill" aria-label="Default select example">
                        <option selected value="TITULO">Titulo</option>
                        <option value="NRC">NRC</option>
                        <option value="PROFESOR">Profesor</option>
                    </select>
                </div>
            </div>

        </div>
    </div>
    
    
    <div class="container mt-4 mb-4">
        <div class="row justify-content-center">
            <!-- Horario -->
            <div class="col-xxl-9 col-md-12 table-responsive">
                <table id="MainTable" class="table table-bordered table-fixed">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col" colspan="2"></th>
                        <th scope="col" class="th-lg equal-column">Lunes</th>
                        <th scope="col" class="th-lg equal-column">Martes</th>
                        <th scope="col" class="th-lg equal-column">Miércoles</th>
                        <th scope="col" class="th-lg equal-column">Jueves</th>
                        <th scope="col" class="th-lg equal-column">Viernes</th>
                        <th scope="col" class="th-lg equal-column">Sábado</th>
                        <th scope="col" class="th-lg equal-column">Domingo</th>
                      </tr>
                    </thead>
                    <tbody id="horario">
                      <!-- Tu contenido de tabla va aquí -->
                    </tbody>
                </table>
            </div>
            <!-- Resume-bar type -->
            <div class="col-xxl-3 col-sm-12 col-lg-6 h-100">
                <div class="justify-content-center align-items-center">
                    <div class="card">
                        <div class="card-body d-flex justify-content-center align-items-center">
                            <h4>Creditos: <span id="CreditValue">0</span></h4>
                        </div>
                    </div>
                </div>
                
                <div class="card mt-1">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-10 col-md-10">
                                Ramos
                            </div>
                            <div id="clean-all"class="col-2 col-md-2">

                            </div>
                        </div>
                    </div>
                    <div class="card-body resume-bar">
                        <div id="ListaRamos" class="list-group" >
                        </div>
                    </div>
                </div>
                <div class="card mt-1">
                    <div class="card-header">
                        Descargas
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <button id="SaveHorarioBtn" type="button" class="btn btn-secondary btn-sm w-100 mt-1">
                                    Horario
                                </button>
                            </div>
                            <div class="col-12 col-md-4">
                                <button id="SaveDetallesoBtn" type="button" class="btn btn-secondary btn-sm w-100 mt-1">
                                    Detalle
                                </button>
                            </div>
                            <div class="col-12 col-md-4">
                                <button id="SaveDetallesoBtn" type="button" class="btn btn-secondary btn-sm w-100 mt-1">
                                    Pruebas
                                </button>
                            </div>
                        </div>
                    </div>                                      
                </div>
                
            
            </div>
            <!-- Evaluation-Resume-bar type -->
            <div class="col-xxl-12 col-sm-12 col-lg-6 h-100">
                <div class="card mt-1">
                    <div class="card-header">
                        Pruebas
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xxl-6 col-sm-12">
                                <div class="card mt-1">
                                    <div class="card-header">
                                        Pruebas
                                    </div>
                                    <div class="card-body">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-6 col-sm-12">
                                <div class="card mt-1">
                                    <div class="card-header">
                                        Examenes
                                    </div>
                                    <div class="card-body">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>

